
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container
	form( method="post", enctype="multipart/form-data", class='form-horizontal well', id='account-form')
		h1
		p#sub1.subheading Please tell us a little about yourself.
		hr
		fieldset
			#name-cg.control-group
				label.control-label(for='name-tf') Name
				.controls
					input#name-tf.input-xlarge(type='text', name='name', value= user.name)
			#email-cg.control-group
				label.control-label(for='email-tf') Email
				.controls
					input#email-tf.input-xlarge(type='text', name='email', value= user.email)
			#city-cg.control-group
				label.control-label(for='city-tf') City
				.controls
					input#city-tf.input-xlarge(type='text', name='city', value= user.city)
			#state-cg.control-group
				label.control-label(for='state-tf') State
				.controls
					input#state-tf.input-xlarge(type='text', name='state', value= user.state)
			#clist-cg.control-group
				label.control-label(for='country-list') Location
				.controls
					select#country-list(name='country')
						each item in countries
							option(selected=item.name == user.country)= item.name
			hr
			p#sub3.subheading
			#tag_line-cg.control-group
				label.control-label(for='tag_line-tf') Tag Line
				.controls
					input#tag_line-tf.input-xlarge.disabled(type='text', name='tag_line', value = user.tag_line)
			#description-cg.control-group
				label.control-label(for='description-tf') Describe Your Activity
				if(user.description != '')
					text_box = user.description
				.controls
					textarea#description-tf.input-xlarge.disabled(type='textarea', rows='3', name='description') #{user.description} 
			hr
			p#sub2.subheading
			#user-cg.control-group
				label.control-label(for='user-tf') Username
				.controls
					input#user-tf.input-xlarge.disabled(type='text', name='user', value= user.user)
			#pass-cg.control-group
				label.control-label(for='pass-tf') Password
				.controls
					input#pass-tf.input-xlarge(type='password', name='pass', value='')
			.form-actions
				button(type='button')#account-form-btn1.btn
				button(type='submit')#account-form-btn2.btn
				//button(type='button')#account-form-btn3.btn
				
// display form errors in a custom modal window //

include modals/form-errors
