!!! 5
html
	head
		title Local Experience
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css")
		link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css")
		link(rel="stylesheet", href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css")
		script(src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js")
		script(src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js")
		link(href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic", rel="stylesheet", type="text/css")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800", rel="stylesheet", type="text/css")
		
		//link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		//link(rel='stylesheet', href='/css/style.css')
		//link(rel='stylesheet', href='/css/bootstrap.css')
		//link(rel='stylesheet', href='/css/bootstrap-responsive.css', media='screen')
		link(rel='stylesheet', href='/css/basic_style.css')
		

	body(data-spy="scroll", data-target=".navbar", data-offset="50")
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.container
					button(type="button", class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="brand", href='/') LocalEx
					div(class="nav-collapse collapse")
						ul(class="nav")
							li
								a(href="/list") Experiences
							li
								a(href="/#about") About
							li
								a(href="/contact") Contact
						ul(class="nav pull-right")
							a(href = "/login", class="btn btn-primary") Sign Up
		block content
	block scripts